/* ===== l-flexbox---alignstart ==========================================
 * Extends l-flexbox to flex align at the start of the flexbox container
 */

/* Only apply flexbox to devices that support media-queries
* and have a minimum browser width of 320px
*/
@media only screen and (min-width: 320px) {
    /* lexbox layout for modern browsers that opt-in to Flexbox with Modernizr */
    .flexbox .l-flexbox---alignstart {
        /* align flexbox items to the start of the flexbox container */ 
        -webkit-box-align:   start;
        -webkit-align-items: flex-start;
        -ms-flex-align:      start;
        align-items:         flex-start;
        }
}
